body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    display: flex;
    align-items: flex-start;
}
div#resultado p {
    font-size: 10pt;
}

.coluna {
    flex: 1;
    padding: 0 10px;
}

.coluna:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.363);
}

input[type="number"], input[type="button"], select#lista {
    width: 90%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}